/* Reset some default browser styles */
*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fefcfc;
    color: #333;
}

/* Top bar styles */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 2px; /* Set the height of the top bar */
    background-color: white; /* Initial background color */
    z-index: 1000; /* Set a higher z-index to make sure it's above other elements */
    transition: background-color 0.5s ease, width 0.5s ease; /* Add a smooth transition effect for background color and width */
}

/* Navigation bar styles */

a{
  color: rgb(255, 252, 252);
  font-size: 17px;  
}

.links a:hover{
  text-decoration: underline;
  color: rgb(61, 61, 210);
  transition-duration: 2s;
}
header{
  position: relative;
  padding: 0 1rem;
  background-color: black;
}
.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .name a {
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links{
  display: flex;
  gap: 4rem;
}

.navbar .toggle_btn{
  color: rgb(249, 249, 249);
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Navigation bar dropdown menu */

.dropdown-menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background-color: rgb(239, 152, 39);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
  height:240px ;
}

.dropdown-menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

@media (max-width :992px) {
  .navbar .links{
    display: none;
  }
  .navbar .toggle_btn{
    display: block;
  }
  .dropdown-menu{
    display: block;
  }
  
}
@media (max-width :576px) {
  .dropdown-menu{
    left: 2rem;
    width: unset;
  }
  
}

.welcome-note {
  display: grid;
  max-width: 1200px;
  margin: 70px auto 0 50px;
  padding: 40px 0;
   
}

.welcome-note h2 {
  font-size: 60px;
  background: linear-gradient(to right, #583ade, #d85ac3);
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent; 
}

.welcome-note h2:nth-child(2){
  font-size: 30px;
  margin-bottom: 30px;
}
.welcome-note h2:nth-child(2) span{
  font-size: 45px;
  margin-left: 12px;
  text-transform: uppercase;
}

.welcome-note h4{
  font-size: 20px;
  color: white;
  background: linear-gradient(to right, #583ade, #d85ac3);
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent; 
}

.welcome-note .typing{
  background: linear-gradient(to right, #e8ce11, #d85ac3);
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent; 
}

header .social-icons{
  margin: 20px auto 0 30px;
  display:flex;
  padding: 10px auto;
  
}
header .social-icons a{
  margin: 0 20px;
  padding: 0 10px;
  width: 50px;
  height: 50px;
  background-color:rgba(45, 60, 143, 0.3);
  border-radius: 10px;

  
}
header .social-icons a i{
  color: rgb(151, 151, 218);
}
header .social-icons a i:hover{
  background: radial-gradient(closest-side, darkorange 60%, gold, bisque, darkred 20%, crimson);
  -webkit-background-clip: text; /* For Safari/Chrome */
  background-clip: text;
  color: transparent;
  transition-duration: 1s;
}


/* About me Section */

/* .about-me {
  width: 100%;
  background-color: rgb(251, 26, 26);
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-me .paragraph{
  font-size: 18px;
  background-color: #f0e9f0;
  display: flex;
  margin: 50px 10px 0 ;
  padding: 20px;
  justify-content: space-between;
  
}
.about-me .paragraph .para{
  background-color: #d85ac3;
  border-radius: 10px;
  margin-right: 10px;
  flex:1;
  border: 3px solid rgb(14, 14, 14);
}
.about-me .paragraph .para h4{
  text-decoration: underline;
  font-size: 30px;
  margin: 10px;
  text-transform: capitalize;
  font-weight: 1000;
}
.about-me .paragraph .para p{
  text-align: justify;
  margin: 10px;
}

.about-me .paragraph .hero{
  flex:1;
  background-color: #e8ce11;
} */

.about-me{
  width: 100%;
  background: linear-gradient(-90deg,#031540 75%,#FFFFFF 25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10%;
}
.hero{
  width: 400px;
  height: auto;
  background-color: #031540;  
  border-radius:50% ;
  border: 15px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: 15px solid #031540;
}
.hero img{
  position: relative;
  max-width: 100%;
  height: auto;
  
}
.paragraph{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  color: rgb(194, 132, 19);
  text-align: justify;
  padding: 10px;
  background-color: rgba(254, 249, 249, 0.1);
  border: 4px solid rgb(245, 240, 240);
  border-radius: 5px;
  box-shadow: 5px 6px #888888;
}
.paragraph h4{
  text-transform: capitalize;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 10px;
  font-weight: 800;
}
.paragraph p {
  line-height: 1.6;
}

/* Skills Section */

/* .skills-container{
  font-size: 18px;
  line-height: 1.6;
  background-color: #a793a4;
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
}
.skills-container h2{
  text-decoration: underline;
  font-weight: 800;
  font-size: 17px;
}
.skills-container .tech-skills,
.skills-container .soft-skills{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e8ce11;
  margin-right: 10px;
  height: auto;
  padding: 10px;
}

.skills-container .tech-skills .languages,
.skills-container .soft-skills .skill-1{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f48611;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
}

.skills-container .tech-skills .languages p,
.skills-container .soft-skills .skill-1 p {
  text-transform: capitalize;
  font-weight: bold;

}

.skills-container .tech-skills .languages .tech-skill-types{
  background-color: azure;
  border-radius: 6px;
  display: flex;
  border: 3px solid black;
  flex-direction: column;
  padding: 6px;
  margin-bottom: 10px;
}

.skills-container .tech-skills .languages div:nth-child(1) .tech-skill-types{
  background-image: linear-gradient(to right,blue 90% ,white 50%);  
}
.skills-container .tech-skills .languages div:nth-child(2) .tech-skill-types{
  background-image: linear-gradient(to right,blue 70%,white 50%);
}
.skills-container .tech-skills .languages div:nth-child(3) .tech-skill-types{
  background-image: linear-gradient(to right,blue 90%,white 50%);
}
.skills-container .tech-skills .languages div:nth-child(4) .tech-skill-types{
  background-image: linear-gradient(to right,blue 90%,white 50%);
}
.skills-container .tech-skills .languages div:nth-child(5) .tech-skill-types{
  background-image: linear-gradient(to right,blue 75%,white 50%);
}
.skills-container .tech-skills .languages div:nth-child(6) .tech-skill-types{
  background-image: linear-gradient(to right,blue 70%,white 50%);
}

.skills-container .soft-skills .skill-1 .soft-skills-types{
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
} */
  



 
  












.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0;
    width: 100%;
    
}

.projects .project-card:first-child {
  margin-left: 15px;
}

/* Project card styles */
.project-card {

    display: inline-block; 
    width: 31%; 
    margin: 60px 25px 55px 0; /* Add spacing between project cards */
    border: 1px solid #f4f3f3;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    vertical-align: top; /* Align project cards at the top */
    padding-top: 20px;
    
  
}


.project-card-image{
  display: flex;
  background-color: red;
  border-radius: 30px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  outline: 3px solid black;
  
}

.project-card-image img {
    width: 100%;

    height:auto;
    border-bottom: 1px solid #ddd;
}

.project-details {
    padding: 20px;
}

.project-details h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-details p {
    margin-bottom: 15px;
}

.project-card a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.used-languages{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.used-languages img:first-child{
  margin-left: 10px;
}

.used-languages img{
  margin-right: 10px;
  width: 100px;
  height: 100px;
}

/* Add this CSS to your existing stylesheet */

/* Contact section styles */
.contact {
    padding: 80px 0;
    background-color: lightblue;
}

.contact h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Social Media Icons styles */
.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 15px;
    font-size: 2em;
    color: #333;
}

/* Email styles */
.email {
    font-size: 1.2em;
    margin-top: 20px;
}

.email a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Footer section styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
