* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #FFFFFF;
  --text-color: #000;
  --second-color: #a09dab;
  --main-color: #f75023;
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

body {
  background-color: rgb(224, 224, 252);
  color: var(--text-color);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2px; /* Set the height of the top bar */
  background-color: white; /* Initial background color */
  z-index: 1000; /* Set a higher z-index to make sure it's above other elements */
  transition: background-color 0.5s ease, width 0.5s ease; /* Add a smooth transition effect for background color and width */
}

header{
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: .3s;
}

header .sticky{
  background: var(--bg-color);
  padding: 13px 18%;
  box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}

.logo h4{
  font-size: larger;
  font-weight: bolder;
}

.navlist{
  display: flex;
}

.navlist li {
  position: relative;
}

.navlist a {
  font-size: var(--p-font);
  color: var(--text-color);
  font-weight: 500;
  padding: 10px 27px;
}

.navlist a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--main-color);
  bottom: -3px;
  left: 0;
  transition: ease .40s;
}

.navlist a:hover::after{
  width: 100%;
}

#menu-icon{
  font-size: 35px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;

}

section{
  padding: 90px 5% ;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 10rem;
  
}

.home-text h1{
  margin: 10px 0px 25px;
  font-size: var(--big-font);
  line-height: 1;
  font-weight: 500;
}

.home-text h2{
  margin-bottom: 23px;
  font-size: 19px;
  font-weight: 500;
}

span {
  color: var(--main-color);
}

.home-text h3{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
 }

 .home-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 28px;
  margin-bottom: 20px;
 }

 .social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 103, 240, 1);
  font-size: 17px;
  color: var(--bg-color);
  margin-right: 22px;
  margin-bottom: 30px;
 }

 .social-icons a:hover{
  transform: scale(1.1);
  background: var(--main-color);
  transition: .5s;
 }

 .btn{
  display: inline-block;
  color: var(--bg-color);
  background: var(--main-color);
  font-weight: 500;
  padding: 10px 70px;
  font-size: var(--p-font);
  line-height: 24px;
  border-radius: 30px;
  transition: ease .40s;
 }

 .btn:hover {
  transform: scale(1.1);
 }

 .home-img img{
  max-width: 100%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 6px solid white;
  overflow: hidden;
  background-image: linear-gradient(to right,rgb(238, 167, 233),rgb(229, 246, 229));
 }

 .about{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  align-items: center;
  grid-gap: 2rem;
 }

 .about-img img {
  max-width: 100%;
  width: 540px;
  height: auto;
 }

 .about-text h2{

  font-size: var(--h2-font);
  font-weight: 500;
  margin: 8px 0px 25px;
  line-height: 1.1;
 }

 .about-text h3{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
 }

 .about-text p{
  max-width: 550px;
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 28px;
  margin-bottom: 45px;
 }

 .heading{
  text-align: center;
 }

 .heading h2{
  font-size: var(--h2-font);
  font-weight: 500;
  margin: 7px 0px 20px;
  line-height: 1.1;
 }

 .heading h3{
  color: var(--main-color);
  font-size: 20px;
  font-weight: 500;
 }

 .heading p {
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 28px;
 }

 .project-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
 }

 .row{
  background: rgb(250, 250, 250);
  box-shadow: 18px 0px 87px 0px rgb(10 15 70/7%);
  border-radius: 12px;
  padding: 45px 45px 45px 45px;
  transition: ease .45s;
  cursor: pointer;
 }

 .s.s-one img{
  background: url(Resources/projects.jpeg);
  height: 100px;
  width: 100px;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
 }

 .s.s-two img{
  background: url(Resources/projects.jpeg);
  height: 100px;
  width: 100px;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
 }

 .s.s-three img{
  background: url(Resources/projects.jpeg);
  height: 100px;
  width: 100px;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
 }

 .s.s-four img{
  background: url(Resources/projects.jpeg);
  height: 100px;
  width: 100px;
  padding: 15px;
  border-radius: 50%;
  margin-bottom: 20px;
 }

 .row h3{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2px;
 }

 .row p {
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 28px;
 }

 .row:hover{
  will-change: transform;
  transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
 }

.cta-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
}

.cta-box i {
  font-size: var(--big-font);
}

.wrap{
  background: white;
  box-shadow: 18px 0px 87px 0px rgb(10 15 70/7%);
  border-radius: 12px;
  padding: 10px;
  transition: ease .40s;
  cursor: pointer;
}

.one{
  background: #bdc4bf; /*like wise can be add two three*/
}
.two{
  background: #f1b130; /*like wise can be add two three*/
}
.three{
  background: #2fbbee; /*like wise can be add two three*/
}
.four{
  background: #f3ef0e; /*like wise can be add two three*/
}
.five{
  background: #4d86b4; /*like wise can be add two three*/
}
.six{
  background: #def9c2; /*like wise can be add two three*/
}
.seven{
  background: #f8f3e3; /*like wise can be add two three*/
}


.contact{
  background: #8067f0eb;
  width: 80%;
  margin: 100px auto;
  padding: 70px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 12px; 
}

.center h3{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 13px;
  color: var(--bg-color);
}

.center p{
  font-size: var(--p-font);
}

hr{
  margin-bottom: 40px;
  border: none;
  height: 5px;
  background-color: wheat;
  border-radius: 5px;
}

.contact .action form input[type="text"],
.contact .action form input[type="email"]{
  max-width: 100%;
  width: 700px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 15px;

}

.contact .action form textarea{
  max-width: 100%;
  width: 700px;
  padding: 12px 15px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  margin: 0 10px 20px 0;
  border-radius: 15px;
}

.contact .action form input[type="submit"]{
 
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

}

.contact .action form input[type="submit"]:hover{
  background-color: #f38a2e;
  box-shadow: 0px 15px 20px rgba(237, 157, 19, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.contact .action form input[type="submit"]:active {
  transform: translateY(-1px);
}

::placeholder{
  text-align: center;
}

.contact .action form input[type="text"]:focus,
.contact .action form input[type="email"]:focus{
  
  border: 2px solid rgb(75, 154, 245);  
}

.contact .action form textarea:focus{
  
  border: 2px solid rgb(75, 154, 245);  
}

footer{
  text-align: center;
  background-color: rgb(70, 178, 241);
  padding: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.main {
  background-color: rgb(239, 239, 239);
  padding: 1em;
  padding-bottom: 1.1em;
  border-radius: 15px;
  margin: 1em;
}

.loader {
  display: flex;
  flex-direction: row;
  height: 4em;
  padding-left: 1em;
  padding-right: 1em;
  transform: rotate(180deg);
  justify-content: right;
  border-radius: 10px;
  transition: .4s ease-in-out;
}

.loader:hover {
  cursor: pointer;
  background-color: lightgray;
}

.currentplaying {
  display: flex;
  margin: 1em;
}

.soundcloud {
  width: 50px;
  height: 50px;
  margin-right: 0.6em;
}

.heading {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  align-self: center;
}

.loading {
  display: flex;
  margin-top: 1em;
  margin-left: 0.3em;
}

.load {
  width: 2px;
  height: 33px;
  background-color: #ff8800;
  animation: 1s move6 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

.play {
  position: relative;
  left: 0.35em;
  height: 1.6em;
  width: 1.6em;
  clip-path: polygon(50% 50%, 100% 50%, 75% 6.6%);
  background-color: black;
  transform: rotate(-90deg);
  align-self: center;
  margin-top: 0.7em;
  justify-self: center;
}

.albumcover {
  position: relative;
  margin-right: 1em;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  align-self: center;
  border-radius: 5px;
}

.song {
  position: relative;
  transform: rotate(180deg);
  margin-right: 1em;
  color: black;
  align-self: center;
}

.artist {
  font-size: 0.6em;
}

@keyframes move6 {
  0% {
    height: 0.2em;
  }

  25% {
    height: 0.7em;
  }

  50% {
    height: 1.5em;
  }

  100% {
    height: 0.2em;
  }
}

